:root {

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100dvh;
  width: 100dvw;
}

#pageContainer {
  display: grid;
  place-items: center;

}

nav {
  width: 100%;
  height: 75px;
  background-color: darkgrey;
}

.main-container {
  width: 90%;
}

#watchPartyForm {
  width: 90%;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.option-container {
  padding: 1rem;
  

  display: flex; /* Maybe change to grid later */
  gap: 1rem;

  border: 1px solid blue;
  border-radius: 15px;
}

.vote-container {

}

.search-result-container {
  padding: 1rem;

  display: flex;
  gap: 1rem;

  border: 1px solid red;
  border-radius: 15px;
}

#randomTVShowPageContainer {
  width: 90%;




}

#randomResultContainer {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 250px 1fr;
}

#randomAllButtonContainer {
  padding: .5rem;
  display: grid;
  place-items: center;
}

.random-tv-show-content-container {
  width: 100%;
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 1rem;
}

/* #favoriteShowsContainer {
  width: 100%;
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
} */

/* #searchResultsAddFavoriteTVShowContainer {
  border: 1px solid red;
  border-radius: 1rem;
} */

.favorite-show-card {
  background-color: lightgray;
  width: 200px;
  padding: .5rem;
  display: grid;
  justify-items: center;
  align-items: center;
  
  gap: .5rem;
  

  border: 1px solid blue;
  border-radius: .5rem;
}

.red-border {
  border: 1px solid red;
  border-radius: .5rem;
}

.image-favorite-tv-show-posters {
  border-radius: .25rem;
}

#formAddFavoriteTVShow {
  display: grid;
  gap: .5rem;
  align-items: center;
  justify-items: center;
}

#randomResultInfoContainer {
  display: grid;
  gap: .1rem;
}