:root {

}

* {
  box-sizing: border-box;

}

html {
  height: 100dvh;
  width: 100dvw;
}

#pageContainer {
  display: grid;
  place-items: center;

}

#newWatchPartyForm {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}
