/* CSS Styles For Watch Party App */

:root {
/* CSS Variables: */
  --footer-height: 40px; 
  /* CSS HSL */
  --color-sky-blue: hsla(199, 64%, 73%, 1);
  --color-blue-green: hsla(192, 70%, 43%, 1);
  --color-prussian-blue: hsla(200, 95%, 14%, 1);
  --color-selective-yellow: hsla(43, 100%, 51%, 1);
  --color-ut-orange: hsla(32, 100%, 49%, 1);

  /* CSS Button Variables: */
  --btn-color-default: var(--color-selective-yellow);
  --btn-color-hover: var(--color-ut-orange);

  /* CSS Style Variables: */
  --style-content-color-background: var(--color-blue-green);
  /* --style-content-color-border: var(--color-blue-green); */

}

/* Global CSS Rules: */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100dvw;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#navContainer {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 50px;
  background-color: var(--color-sky-blue);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
}

#navContainer > a {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;

  align-content: center;
  text-align: center;
}

#navContainer > a:hover {
  background-color: white;
  background-color: var(--color-blue-green);
}

footer {
  height: var(--footer-height);
  width: 100%;
  background-color: var(--color-blue-green);

  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  justify-items: center;
  align-items: center;
}

#mainContentContainer {
  margin: 0;
  margin-bottom: calc(var(--footer-height) + 5px); /* This is to prevent the bottom of the main content from going 'under' the footer */
  padding: 2rem;
  /* width: 90%; This is to prevent main content from going up agains the edge of the container. */
  display: grid;
  place-items: center;
}

main {
  min-width: 300px;
  width: 90%;
}



.main-container {
  width: 90%;
}

.btn-style-default {
  margin: 0;
  padding: 1rem;
  background-color: var(--btn-color-default);
  border: 2px solid var(--btn-color-default);
  border-radius: 9999px;


}

.btn-style-default:hover {
  background-color: var(--btn-color-hover);
  border: 2px solid var(--btn-color-default);
}






/* Page Specific Styling: */

#watchPartyForm {
  width: 90%;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.option-container {
  padding: 1rem;
  

  display: flex; /* Maybe change to grid later */
  gap: 1rem;

  border: 1px solid blue;
  border-radius: 15px;
}

.vote-container {

}

.search-result-container {
  padding: 1rem;

  display: flex;
  gap: 1rem;

  border: 1px solid red;
  border-radius: 15px;
}

#randomTVShowPageContainer {
  width: 90%;




}

#randomResultContainer {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 250px 1fr;
}

#randomAllButtonContainer {
  padding: .5rem;
  display: grid;
  place-items: center;
}

.random-tv-show-content-container, #watchPartyMovies {
  width: 100%;
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: .5rem;
}

/* #favoriteShowsContainer {
  width: 100%;
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
} */

/* #searchResultsAddFavoriteTVShowContainer {
  border: 1px solid red;
  border-radius: 1rem;
} */

.favorite-show-card, .movie-card {
  background-color: var(--style-content-color-background);
  
  width: 250px;
  padding: 1rem;
  display: grid;
  justify-items: center;
  align-items: center;
  
  row-gap: .5rem;
  

  /* border: 1px solid var(--style-content-color-border); */
  border-radius: .5rem;
}

.link-img-poster {

}

.link-img-poster:hover {
  transition: .25s;
  opacity: 0.5;
}

.red-border {
  border: 1px solid red;
  border-radius: .5rem;
}

.image-favorite-tv-show-posters {
  border-radius: .25rem;
}

#formAddFavoriteTVShow {
  display: grid;
  gap: .5rem;
  align-items: center;
  justify-items: center;
}

#inputAddFavoriteTVShow {
  width: 180px;
  margin: 0;
  padding: 5px;
}

#randomResultInfoContainer {
  display: grid;
  gap: .1rem;
}

.favorite-show-name-and-remove-btn-container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: center;
  display: none;
  /* Diplsaying 'none' right now.  Honestly it looks much, much better.  I will need to add an overall button to display: block so I can delete things. */
  

}

.button-remove-favorite-show {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  border: none;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  display: grid;
  place-content: center;
}

#authContainer {
  margin: 0;
  padding: 1rem;

  display: grid;
  place-items: center;

  border: 1px solid black;
  border-radius: 10px;
}

#authFormContainer {
  margin: 0;
  padding: 1rem;
}

/* .form-auth {
  margin: 0;
  padding: 1rem;
} */

#profilePageContainer {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

}


#formUpdateProfile {

}

.profile-forms {
  margin: 0;
  padding: 1rem;

  border: 1px solid black;
  border-radius: 10px;

  display: grid;
  gap: .5rem;

}

#emailVerifyContainer {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

#watchPartyPageContainer {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1rem;
}

#watchPartyPageContainer > section {
  margin: 0;
  padding: .5rem;

  border: 1px solid black;
  border-radius: 10px;
}

#watchPartyNewWatchParty {
  display: grid;
  gap: .5rem;
}

#newWatchPartySearchResults, #watchPartyMovieSearchResults {
  margin: 0;
  padding: .5rem;

  display: none;
  gap: .5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.movie-search-results {
  background-color: lightgray;
  width: 200px;
  padding: .5rem;

  display: grid;
  place-items: center;
  gap: .5rem;

  border: 1px solid red;
  border-radius: .5rem;
}

#mainIndexPageContainer {
  margin: 0;
  padding: 0;


  display: grid;
  gap: 1rem;
}

#mainIndexPageContainer > section {
  margin: 0;
  padding: 1rem;

  border: 1px solid black;
  border-radius: 10px;
}

#watchPartyInfo {
  display: grid;
  gap: 1rem;
}

#watchPartyInfo > div {
  display: flex;
  gap: 1rem;
}

/* Keep this last: */
.hidden {
  display: none;
}